<VirtualHost *:443>
DocumentRoot /var/www/{{ httpd_public_hostname }}
ErrorLog logs/ssl-{{ httpd_public_hostname }}_error.log
TransferLog logs/ssl-{{ httpd_public_hostname }}_access.log
LogLevel warn

  RewriteEngine On
   RewriteCond %{HTTP_HOST} ^bugzilla
   RewriteRule ^/?(.*) https://{{ httpd_public_hostname }}/$1 [R,L]

 Header always set X-Frame-Options "SAMEORIGIN"
 Header always set X-Xss-Protection "1; mode=block"
 Header always set X-Content-Type-Options "nosniff"
 Header always set Referrer-Policy "same-origin"
 Header always set Strict-Transport-Security "max-age=31536000"

SSLEngine on
SSLHonorCipherOrder on
SSLProtocol all -SSLv2 -SSLv3
SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW:!aNULL:!eNULL:!DES:!MD5:!PSK:!RC4
SSLCertificateFile /etc/pki/tls/certs/{{ httpd_public_hostname }}.crt
SSLCertificateKeyFile /etc/pki/tls/private/{{ httpd_public_hostname }}.key
SSLCertificateChainFile /etc/pki/tls/certs/{{ httpd_public_hostname }}-CAChain.crt
<Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
</Files>
<Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>
SetEnvIf User-Agent ".*MSIE.*" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0
CustomLog logs/ssl-{{ httpd_public_hostname }}_request.log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>     
